a.newspaper-headline(href='/')
    h1.newspaper-font.text-center The New York Times
.d-flex.intro-bar
    .p-2.flex-grow-1
        h5.newspaper-font.text-capitalize {{section}}
        p.card-text.intro-text
            | You are reading
            span.content-title {{title}}
    .p-2
        a.btn.btn-sm.btn-outline-dark(href='/')
            i.fas.fa-home
            |  Back to Home
.content-bar
    .row
        .col-12.col-md-4
            .card.mx-auto.mb-3(style='width: 90%;')
                img.card-img-top.img-fluid.div-205.mx-auto.mt-2(src='{{this.imagePath}}', alt='Card image cap')
                .card-body
                    a.card-title.news-title(href='{{this.link}}', target='_blank') {{this.title}}
                    p.card-text.mt-2 {{this.description}}
                    a.view-comments.btn.btn-link(href='{{this.link}}', target='_blank')
                        i.far.fa-newspaper
                        |             Read full article
                    a.btn.btn-sm.round(href='/save-article/{{this.articleId}}', class='btn{{#this.isSaved}}-outline{{/this.isSaved}}-dark')
                        | {{this.buttonStatus}}
        .col-12.col-md-8
            | {{!-- Add Comment Form --}}
            #view-response.d-flex.justify-content-center
                #comment-display
                    p
                        | Responses for
                        span#article-title.content-title {{this.title}}
                    |           {{# each comments }}
                    .comment-display
                        .card.border-info.mb-3(style='width: 90%;')
                            .card-body.text-info
                                h5.card-title {{this.commentBody}}
                                p.card-text - {{this.username}}
                                |                 {{#this._id}}
                                .text-right
                                    a.btn.btn-sm.round.btn-light.delete-comment(href='/deletecomment/{{this._id}}')
                                        i.far.fa-trash-alt
                                        |                     Delete
                                |                 {{/this._id}}
                    |           {{/each}}
                    p
                        i.fas.fa-user-edit
                        |  Comment
                    form(action='/articles/{{this.articleId}}', method='post', style='width: 90%;')
                        #save-comment.justify-content-center
                            .form-group
                                textarea#new-comment-body.form-control.mb-2(name='new_comment_body', rows='3', placeholder='Tell us what you think about this article...')
                            .form-group
                                input#new-comment-username.form-control.mb-2(type='text', name='new_comment_username', placeholder='Your public name')
                            button.btn.btn-info.btn-sm.round(type='submit') Send
    |  {{!-- End Content Bar --}}
