extends layout

block content
    doctype html
    html(lang="en")
      head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors")
        meta(name="generator" content="Jekyll v3.8.5")
        title Dashboard Template · Bootstrap
        // Bootstrap core CSS
        link(href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="node_modules" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
        style.
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        // Custom styles for this template
        link(href="../public/stylesheet/style.css" rel="public")
      body
        nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
            a.navbar-brand.col-sm-3.col-md-2.mr-0(href="#") RedBalloon
            input.form-control.form-control-dark.w-100(type="text" placeholder="Search" aria-label="Search")
            ul.navbar-nav.px-3
                li.nav-item.text-nowrap
                    a.nav-link(href="#") Sign out
        .container-fluid
            .row
                nav.col-md-2.d-none.d-md-block.bg-light.sidebar
                    .sidebar-sticky
                        ul.nav.flex-column
                            li.nav-item
                                a.nav-link.active(href="#")
                                    span(data-feather="home")
                                    |               RedBalloon
                                    span.sr-only (current)
                            li.nav-item
                                a.nav-link(href="categories/categoryList")
                                    span(data-feather="file")
                                    |               Категории
                            li.nav-item
                                a.nav-link(href="#")
                                    span(data-feather="shopping-cart")
                                    |               Продукты
                            li.nav-item
                                a.nav-link(href="#")
                                    span(data-feather="users")
                                    |               Атрибуты товаров
                            li.nav-item
                                a.nav-link(href="#")
                                    span(data-feather="bar-chart-2")
                                    |               Отзывы о товаре
                            li.nav-item
                                a.nav-link(href="#")
                                    span(data-feather="file-text")
                                    |               Где купить
                        h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
                main.col-md-9.ml-sm-auto.col-lg-10.px-4(role="main")
                    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
                        h1.h2 КАТЕГОРИЯ
                    //canvas#myChart.my-4.w-100(width="900" height="380")
                    h1 #{title}

                        form(method='POST' action='')
                            div.form-group
                                label(for='categoryTitle') Название категории:
                                input#categoryTitle.form-control(type='text', placeholder='Android, iPhone etc.' name='categoryTitle' required='true' value=(undefined === category ? '' : category.categoryTitle))
                            button.btn.btn-primary(type='submit') Создать

                        if errors
                            ul
                                for error in errors
                                    li!= error.msg
                    h2 Категории
                    .table-responsive
                        table(id="categoryTable").table.table-striped.table-sm
                            thead
                                tr
                                    th #
                                    th Название категории
                            tbody
    script.
        // Получение всех категорий
        function GetCategories() {
            $.ajax({
                url: "/categoryList",
                type: "GET",
                contentType: "application/json",
                success: function (categories) {
                    var rows = "";
                    $.each(categories, function (index, category) {
                        // добавляем полученные элементы в таблицу
                        rows += row(category);
                    })
                    $("table tbody").append(rows);
                }
            });
        }
        // Получение одной категории
        function GetCategory(id) {
            $.ajax({
                url: "/categoryList/" + id,
                type: "GET",
                contentType: "application/json",
                success: function (category) {
                    var form = document.forms["categoryTable"];
                    form.elements["id"].value = category._id;
                    form.elements["categoryTitle"].value = category.categoryTitle;
                }
            });
        }
        // Добавление категории
        function CreateCategory(categoryTitle) {
            $.ajax({
                url: "/categoryList",
                contentType: "application/json",
                method: "POST",
                data: JSON.stringify({
                    categoryTitle: categoryTitle
                }),
                success: function (category) {
                    reset();
                    $("table tbody").append(row(category));
                }
            })
        }
        // Изменение категории
        function EditCategory(categoryId, categoryTitle) {
            $.ajax({
                url: "/categoryList",
                contentType: "application/json",
                method: "PUT",
                data: JSON.stringify({
                    id: categoryId,
                    categoryTitle: categoryTitle
                }),
                success: function (category) {
                    reset();
                    console.log(category);
                    $("tr[data-rowid='" + category._id + "']").replaceWith(row(category));
                }
            })
        }
        // сброс формы
        function reset() {
            var form = document.forms["categoryTable"];
            form.reset();
            form.elements["id"].value = 0;
        }
        // Удаление категории
        function DeleteCategory(id) {
            $.ajax({
                url: "categoryList/" + id,
                contentType: "application/json",
                method: "DELETE",
                success: function (category) {
                    console.log(category);
                    $("tr[data-rowid='" + category._id + "']").remove();
                }
            })
        }
        // создание строки для таблицы
        var row = function (category) {
            return "<tr data-rowid='" + category._id + "'><td>" + category._id + "</td>" +
                "<td>" + category.categoryTitle + "</td> <td>" +
                "<td><a class='editLink' data-id='" + category._id + "'>Изменить</a> | " +
                "<a class='removeLink' data-id='" + category._id + "'>Удалить</a></td></tr>";
        }
        // сброс значений формы
        $("#reset").click(function (e) {
            e.preventDefault();
            reset();
        })
        // отправка формы
        $("form").submit(function (e) {
            e.preventDefault();
            var id = this.elements["id"].value;
            var categoryTitle = this.elements["categoryTitle"].value;
            if (id == 0)
                CreateCategory(categoryTitle);
            else
                EditCategory(id, categoryTitle);
        });
        // нажимаем на ссылку Изменить
        $("body").on("click", ".editLink", function () {
            var id = $(this).data("id");
            GetCategory(id);
        })
        // нажимаем на ссылку Удалить
        $("body").on("click", ".removeLink", function () {
            var id = $(this).data("id");
            DeleteCategory(id);
        })
        // загрузка категорий
        GetCategories();

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous")

