h2 Категория 2
    form(name="userForm")
        input(type="hidden" name="id" value="0")
        .form-group
            label(for="name") Название категории:
            input.form-control(name="name")
        .panel-body
            button.btn.btn-sm.btn-primary(type="submit") Сохранить
            a#reset.btn.btn-sm.btn-primary Сбросить
    table.table.table-condensed.table-striped.table-bordered
        thead
            tr
                th Id
                th Категория
                th
        tbody