doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Image Uploader
        link(rel='stylesheet', href='../../public/stylesheets/styleforhtml.css')
    body
        .page
            .page__content
                a(href='/views/pug/form.html') Upload an Image
                |
                a(href='/views/pug/gallery.html') View Gallery
