<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Upload Form</title>
    <link rel="stylesheet" href="../../public/stylesheets/styleforhtml.css">
</head>
<body>
<div class="page">
    <div class="page__content">
        <!-- Anytime you are uploading files make sure the browser will send the form data as a multipart -->
        <form class="form" action="/image/uploadImage" method="POST" enctype="multipart/form-data" autocomplete="on">
            <!-- For/id attributes links the label to the input. Can click either to open image selector. -->
            <label class="form__label" for="file"> <p class="form__label__text">Choose an Image File...</p>
                <input class="form__upload-input" id="file" type="file" name="image" accept="image/gif, image/png, image/jpg, image/jpeg">
            </label>
            <button class="form__button" type="submit">Submit</button>
        </form>
    </div>
</div>
</body>
</html>
