<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Uploader</title>
    <link rel="stylesheet" href="../../public/stylesheets/styleforhtml.css">
</head>
<body>
<div class="page">
    <div class="page__content">
        <a href="image/form">Upload an Image</a> | <a href="image/gallery">View Gallery</a>
    </div>
</div>
</body>
</html>
